## Modules and data preparation

In [1]:
import yfinance as yf

## Get data

In [30]:
intraday_data = yf.download(tickers="BZ=F",
                            period="730d",
                            interval="1h",
                            auto_adjust=True)
intraday_data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Volume
2020-04-06 00:00:00-04:00,33.400002,33.599998,33.330002,33.560001,0
2020-04-06 01:00:00-04:00,33.580002,34.000000,33.360001,34.000000,1071
2020-04-06 02:00:00-04:00,33.970001,34.230000,33.540001,33.610001,1166
2020-04-06 03:00:00-04:00,33.689999,34.009998,33.360001,33.500000,1163
2020-04-06 04:00:00-04:00,33.480000,33.509998,32.830002,33.209999,2539
...,...,...,...,...,...
2022-08-24 06:00:00-04:00,101.169998,101.269997,100.639999,100.989998,721
2022-08-24 07:00:00-04:00,100.989998,101.430000,100.860001,101.220001,670
2022-08-24 08:00:00-04:00,101.279999,101.449997,100.209999,100.209999,1014
2022-08-24 09:00:00-04:00,100.190002,100.510002,99.860001,100.089996,1248
2022-08-24 09:22:19-04:00,100.089996,100.089996,100.089996,100.089996,0

In [31]:
intraday_data.iloc[-24:]

,Open,High,Low,Close,Volume
2022-08-23 10:00:00-04:00,99.000000,99.970001,98.949997,99.820000,3245
2022-08-23 11:00:00-04:00,99.830002,99.980003,98.930000,99.849998,3523
2022-08-23 12:00:00-04:00,99.849998,99.949997,99.260002,99.919998,1405
2022-08-23 13:00:00-04:00,99.940002,100.269997,99.750000,100.209999,1788
2022-08-23 14:00:00-04:00,100.220001,100.449997,99.940002,100.120003,2248
2022-08-23 15:00:00-04:00,100.120003,100.320000,100.089996,100.180000,417
2022-08-23 16:00:00-04:00,100.169998,100.430000,100.099998,100.220001,0
2022-08-23 18:00:00-04:00,100.160004,100.279999,100.160004,100.230003,19
2022-08-23 19:00:00-04:00,100.209999,100.209999,100.190002,100.190002,10
2022-08-23 20:00:00-04:00,100.160004,100.160004,99.910004,100.099998,59
2022-08-23 21:00:00-04:00,100.080002,100.150002,99.779999,99.779999,115
2022-08-23 22:00:00-04:00,99.900002,100.070000,99.699997,100.070000,49
2022-08-23 23:00:00-04:00,100.000000,100.120003,99.760002,99.800003,36
2022-08-24 00:00:00-04:00,99.779999,99.809998,99.680000,99.760002,40
2022-08-24 01:00:00-04:00,99.809998,99.959999,99.730003,99.870003,71
2022-08-24 02:00:00-04:00,99.940002,100.400002,99.940002,100.400002,124
2022-08-24 03:00:00-04:00,100.349998,100.980003,100.139999,100.949997,689
2022-08-24 04:00:00-04:00,100.940002,102.000000,100.790001,101.559998,1878
2022-08-24 05:00:00-04:00,101.480003,101.680000,101.080002,101.120003,691
2022-08-24 06:00:00-04:00,101.169998,101.269997,100.639999,100.989998,721
2022-08-24 07:00:00-04:00,100.989998,101.430000,100.860001,101.220001,670
2022-08-24 08:00:00-04:00,101.279999,101.449997,100.209999,100.209999,1014
2022-08-24 09:00:00-04:00,100.190002,100.510002,99.860001,100.089996,1248
2022-08-24 09:22:19-04:00,100.089996,100.089996,100.089996,100.089996,0

In [ ]:
&span=1m

In [82]:
import requests
r = requests.get("https://markets.tradingeconomics.com/chart?s=co1:com&d1=2020-10-10&d2=2021-10-10&url=/commodity/brent-crude-oil&AUTH=zVv7XLtzQWZ7J66sHvehnxwlMfHUn7TwfaDAZppoWdr1zvRvtQMj2u3pc5wQ%2F7DL")

In [83]:
r

In [85]:
r.json()

{'Message': 'Invalid authorization'}

In [84]:
import pandas as pd
a = pd.DataFrame(r.json()["series"][0]['data'])

KeyError: 'series'

In [ ]:
a.head(30)

In [52]:
82800000/3600000

23.0

In [46]:
817/24

34.041666666666664

In [ ]:
# Giá future dầu và các loại hàng hóa
# Sentiment data